@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: .5em 0;
}
.logo{
    width: 64px;
    // width: 100%;
    // text-decoration: none;
}
nav{
    display: flex;
    gap: 2em;
}
.hero{
    padding: 2em 2em;
    display: grid;
    gap: 2em;
    background-color: #333;
    &__main{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }
    &__article{
        border: 2px solid whitesmoke;
        border-radius: 1em;
        padding: .5em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: .5em;
        img{
            border-radius: 1em;
            width: 100%;
        }
    }
    &__article-title{
        font-size: 1.5em;
        letter-spacing: .1px;
        line-height: 1.1em;
    }
    &__article-date{
        font-weight: 400;
        font-size: 10px;
        color: grey;
    }
    &__sidebar{
        display: none;
        width: 300px;
        height: 500px;
        background-color: red;
    }
}
