@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3D3C42;
}
:root{
    --main-color: #4678be;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: .5em 1em;
    margin-inline: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
}

.logo{
    width: 64px;
}
nav{
    display: flex;
    gap: 2em;
}
body{
    background-color: whitesmoke;
}
.hero{
    padding: 2em 2em;
    display: grid;
    gap: 2em;

    &__main{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    }
    &__article{
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 1em;
        padding: .5em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: .5em;
        background-color: white;
        img{
            border-radius: 1em;
            width: 100%;
        }
    }
    &__article-title{
        font-size: 1.5em;
        letter-spacing: .1px;
        line-height: 1.1em;
    }
    &__arcticle-details{
        display: flex;
        gap: 1em;
        h3{
            font-weight: bold;
            font-size: 10px;
            color: #3D3C42;
        }
    }
    &__sidebar{
        display: none;
        width: 300px;
        height: 500px;
        background-color: red;
    }
}
